<!DOCTYPE html>
<html>
<head>
    <title>Why Single Page Apps?</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ site.url }}/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/dark.css" />
</head>
<body>
    <div class="container">
        <h1 class="title">{{ page.title }}</h1>

        <div class="tabtable tabs-right">
            <ul class="nav nav-tabs">
            {% for order in (0..10) %}
                {% for link in site.pages %}
                    {% if order == link.order %}
                        <li {% if page.url == link.url %}class="active"{% endif %}>
                            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
        </div>

        <div class="tab-content well"> {{ content }} </div>

        <div class="footer">
            <div class="contact">
                <p>
                    Matthew J. Morrison<br />
                    <a href="http://mattjmorrison.com">mattjmorrison.com</a><br />
                    mattjmorrison@mattjmorrison.com
                </p>
            </div>
            <div class="contact">
                <p>
                    <a href="http://github.com/mattjmorrison/">github.com/mattjmorrison</a><br />
                    <a href="http://twitter.com/mattjmorrison/">twitter.com/mattjmorrison</a><br />
                </p>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.url }}/assets/bootstrap/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
